/* General */

#container{
    background-color: var(--secondary-color);
}
#inner-container{
    max-width: 1440px;
    margin: 0 auto;
}

/* Header */

header{
    position: relative;
    min-height: 100vh;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
}

header #model{
    height: 90%;
    position: absolute;
    right: 5%;
    bottom: 0;
}

#header-content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px 0 50px;
    gap: 10px;
}

#header-content h1{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    border-bottom: 2px solid var(--secondary-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

#header-content h2{
    font-size: 1.25rem;
    font-weight:400;
    text-align: justify;
    margin-bottom: 10px;
}

#header-content h3{
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 10px;
}

#header-input{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.customer-company-info{
    background-color: var(--secondary-color);
    border-radius: 10px;
    height: 100%;
    width: 50%;
    padding: 10px 10px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.customer-company-info h3{
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 500 !important;
    text-align: center;
    border-bottom: 1px solid var(--primary-color);
}

.customer-company-info ul {
    list-style: none;
    text-align: justify;
}
.customer-company-info ul li{

    box-sizing: border-box;
    padding: 2px 4px;
    margin: 10px 0;
    font-size: 0.9rem;
}

.customer-company-info ul li:nth-child(odd){
    background-color: rgba(148, 172, 101, 0.25);
}

.customer-company-info button{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.customer-company-info button:hover{
    background-color: var(--hover-color);
    color: white; 
}
/* NavBar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
}

nav > span img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

nav > span{
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav > span h4{
    font-weight: 400;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

nav a:hover{
    color: var(--hover-color);
    border-bottom: 1px solid var(--primary-color);
}

nav ul li:last-child{
    display: none;
}

nav ul li:nth-child(5) a{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.3s ease;
}
nav ul li:nth-child(5) a:hover{
    background-color: var(--hover-color);
    color: white;
}

nav ul li:nth-child(4) a{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.3s ease;
}
nav ul li:nth-child(4) a:hover{
    background-color: var(--hover-color);
    color: white;
}

/* How to */

#how-to{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 40px;
    background-color: white;
}

#how-to h3{
    font-size: 1.5rem;
    padding-left: 10px;
    border-left: 2px solid black;
    text-transform: uppercase;
}

#step-container{
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
}

.step{
    display: flex;
    align-items: center;
    gap: 20px;
}

.step span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.step span img{
    width: 24px;
    height: 24px;
}

/* How Work */

#how-work{
    min-height: 100vh;
    padding: 30px;
    background-color:#f3f3f3;
}

#how-work h4{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#how-work p{
    font-size: 1.2rem;
    margin-bottom: 50px;
}

#how-work-text h4, #how-work-text p{
    text-align: center;
    color: #1B4A58;
}

.item{
    position: relative;
    width: 400px;
    height: auto;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    color: var(--primary-color);
    padding: 15px;
}

.item::before{
    content: '01';
    position: absolute;
    top: 0px;
    left: 50%;
    font-size: 7rem;
    font-weight: 700;
    color: var(--primary-color);
    opacity: 0.5;
    transform: translate(-50%, -69%);
}

.item:nth-child(2):before{
    content: '02';
}

.item:nth-child(3):before{
    content: '03';
}

.item:nth-child(4):before{
    content: '04';
}

.item:nth-child(5):before{
    content: '05';
}

#item-container .item h4{
    font-size: 1.5rem;
}

#item-container .item p{
    font-size: 1.1rem;
    text-align: justify;
}

#item-container{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px 100px;
}

#item-container .item:nth-child(even), #item-container .item:nth-child(even) p{
    align-self: flex-end;
    background-color: var(--primary-color);
    color: white;
}

#item-container .item:nth-child(3), #item-container .item:nth-child(3) p{
    background-color: var(--primary-color);
    color: white;
}


#circle-line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle-line li{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin: 260px 0;
    position: relative;
    list-style: none;
}

#circle-line li::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 300px;
    background-color: var(--primary-color);
    z-index: -1;
}

.first::before{
    display: none;
}

/* Features */


#features{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background-color: #F3F3F3;
}

#features-text h4{
    font-size: 1.6rem;
    text-transform: uppercase;
}

#features p{
    width: 400px;
    margin-top: 15px;
    text-align: justify;
    font-size: 1.1rem;
}

#square-container{
    display: flex;
    justify-content: right;
    gap: 20px;
    flex-wrap: wrap;
    width: 600px;
}

.square{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 150px;
    height: 150px;
    border-bottom: 3px solid #ABBDCE;
    background-color: white;
    font-size: 1rem;
    transition: transform 0.5s ease;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.square:hover{
    transform: scale(1.05);
}

/* Blog */

#blog{
    padding: 40px;
    background-color: white;
}

#blog-title h4{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

#blog-title p{
    text-align: center;
    font-size: 1.1rem;
    margin: 10px 0;
}

#article-container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
    padding: 20px;
}

.article{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.article:hover{
    transform: translateY(-10px);
}

.article-img{
    background-color: #f3f3f3;
    width: 100%;
    height: 150px;
}

.article-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.article-text h5{
    font-size: 1.05rem;
    text-transform: uppercase;
}

.article-text p{
    text-align: justify;
}

.article-text a{
    color: var(--primary-color);
    text-decoration: none;
}

.article-text a:hover{
    color: var(--secondary-color)
}

/* About Us */

#about-team{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 40px;
}

#about-team > h4{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

#about-team > p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#member-container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 50px;
    margin-top: 50px;
}

.member{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member h5{
    margin-top: 10px;
    font-size: 1.1rem;
}

.member h6{
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: 500;
}

.member ul{
    display: flex;
    list-style: none;
    gap: 10px;
    margin-top: 10px;
}

.member ul img{
    width: 25px;
    height: 25px;
    transition: transform 0.5s ease;
}

.member ul img:hover{
    transform: scale(1.2);
}

.member-img{
    width: 200px;
    height: 200px;
    background-color: #f3f3f3;
    border-radius: 50%;
}