@media only screen and (max-width: 884px){
    /* Header */

    header{
        min-height: 0;
    }

    header nav ul li{
        display: none;
    }

    header nav ul li:last-child{
        display: block;
    }

    #model{
        display: none;
    }

    #header-content{
        padding: 30px 50px;
        margin-top: 0;

    }

    #header-content h2{
        font-size: 2.9rem;
    }

    #header-input{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    /* How to */

    #step-container{
        gap: 20px;
        margin-top: 20px;
    }

    /* How work */

    #circle-line{
        display: none;
    }

    #item-container{
        gap: 100px;
    }

    #item-container .item, #item-container .item:nth-child(even){
        align-self: center;
        width: 95vw;
    }

    /* Features */

    #features{
        padding: 20px 0; 
    }

    #features p{
        width: 95vw;
    }

    #square-container{
        justify-content: center;
        margin-top: 20px;
    }

    /* Footer */

    #footer-top{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}