@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset CSS */

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    
}

/* General */

:root{
    --primary-color: #1B4A58;
    --secondary-color: #D8EAA9;
    --hover-color: #919e76;
}

/* Header */

header{
    position: relative;
    min-height: 100vh;
    /*background-color: var(--primary-color);*/
    color: white;
    display: flex;
}

header #model{
    height: clamp(550px, 80%, 650px);
    position: absolute;
    left: -35%;
    bottom: 0;
}
#model{
    filter: drop-shadow(15px 15px 15px black);
}

#header-first-section{
    width: 60%;
    height: 100vh;
    background-color: var(--primary-color);
    position: relative;
}
#header-second-section{
    width: 40%;
    height: 100vh;
    background-color: var(--secondary-color);
    position: relative;
}

#header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 50px 0 50px;
    gap: 30px;
    height: 100vh;
    min-width: 650px;
    position: relative;
}

#list-content{
    max-width: 50%;
    min-width: 600px;
    height: 25vh;
    position: absolute;
    top: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header-content h2{
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}


#header-content input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    color: #000000;
    padding: 10px;
    outline: none;
}

#header-content input::placeholder{
    color: #000000;
    font-size: .9rem;
}

#header-content input:focus{
    border: 4px solid var(--secondary-color);
}

#header-content button{
    background-color: var(--secondary-color);
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-color);
    transition: background-color 0.5s ease;
    cursor: pointer;
}

#header-content button:hover{
    background-color: var(--hover-color);
}

#header-input{
    max-width: 50%;
    min-width: 600px;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    /*border: 1px solid blue;*/
    position: absolute;
    top: 45%;
}

#info-cliente-empresa{
    min-width: 275px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    height: 100%;
    box-shadow: 10px 10px 15px black;
    padding: 10px 10px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#info-cliente-empresa h3{
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    text-align: center;
}

#info-cliente-empresa button{
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#info-cliente-empresa button:hover{
    background-color: var(--hover-color);
    color: var(--primary-color);
}
/* NavBar */

nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    position: absolute;
    top: 0;
    z-index: 5;
}

nav img{
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 10px;
}

nav a{
    box-sizing: border-box;
   
    padding: 8px;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
}

nav a:hover{
    color: var(--hover-color);
    border-bottom: 1px solid var(--primary-color);
}

nav ul li:last-child{
    display: none;
}

nav ul li:nth-child(5) a{
    background-color: rgba(27, 74, 88, 0.2);
}
nav ul li:nth-child(5) a:hover{
    background-color: rgb(27, 74, 88);
    color: var(--secondary-color);
    transition: 300ms;
}

#logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
}
#logo img{
    width: auto;
    height: 40px;
}

/* How to */

#how-to{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 40px;
}

#how-to h3{
    font-size: 1.5rem;
    padding-left: 10px;
    border-left: 2px solid black;
    text-transform: uppercase;
}

#step-container{
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
}

.step{
    display: flex;
    align-items: center;
    gap: 20px;
}

.step span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.step span img{
    width: 24px;
    height: 24px;
}

/* How Work */

#how-work{
    min-height: 100vh;
    padding: 30px;
    background-color:#f3f3f3;
}

#how-work h4{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#how-work p{
    font-size: 1.2rem;
    margin-bottom: 50px;
}

#how-work-text h4, #how-work-text p{
    text-align: center;
    color: #1B4A58;
}

.item{
    position: relative;
    width: 400px;
    height: 200px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    color: var(--primary-color);
    padding: 15px;
    z-index: 1;
}

.item::before{
    content: '01';
    position: absolute;
    top: 0px;
    left: 50%;
    font-size: 7rem;
    font-weight: 700;
    color: var(--primary-color);
    opacity: 0.5;
    transform: translate(-50%, -69%);
    z-index: -1;
}

#item-container .item h4{
    font-size: 1.5rem;
}

#item-container .item p{
    font-size: 1.1rem;
    text-align: justify;
}

#item-container{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px 100px;
}

#item-container .item:nth-child(even), #item-container .item:nth-child(even) p{
    align-self: flex-end;
    background-color: var(--primary-color);
    color: white;
}

#item-container .item:nth-child(3), #item-container .item:nth-child(3) p{
    background-color: var(--primary-color);
    color: white;
}


#circle-line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle-line li{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin: 170px 0;
    position: relative;
    list-style: none;
}

#circle-line li::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 200px;
    background-color: var(--primary-color);
    z-index: -1;
}

.first::before{
    display: none;
}

/* Features */


#features{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background-color: #F3F3F3;
}

#features-text h4{
    font-size: 1.6rem;
    text-transform: uppercase;
}

#features p{
    width: 400px;
    margin-top: 15px;
    text-align: justify;
    font-size: 1.1rem;
}

#square-container{
    display: flex;
    justify-content: right;
    gap: 20px;
    flex-wrap: wrap;
    width: 600px;
}

.square{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 150px;
    height: 150px;
    border-bottom: 3px solid #ABBDCE;
    background-color: white;
    font-size: 1rem;
    transition: transform 0.5s ease;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.square:hover{
    transform: scale(1.05);
}

/* Blog */

#blog{
    padding: 40px;
}

#blog-title h4{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

#blog-title p{
    text-align: center;
    font-size: 1.1rem;
    margin: 10px 0;
}

#article-container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
    padding: 20px;
}

.article{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 360px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.article:hover{
    transform: translateY(-10px);
}

.article-img{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    width: 300px;
    height: 150px;
}

.article-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.article-text h5{
    font-size: 1.05rem;
    text-transform: uppercase;
}

.article-text p{
    text-align: justify;
}

.article-text a{
    color: var(--primary-color);
    text-decoration: none;
}

.article-text a:hover{
    color: var(--secondary-color)
}

/* About Us */

#about-team{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 40px;
}

#about-team > h4{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

#about-team > p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#member-container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 50px;
    margin-top: 50px;
}

.member{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member h5{
    margin-top: 10px;
    font-size: 1.1rem;
}

.member h6{
    margin-top: 5px;
    font-size: 0.9rem;
}

.member ul{
    display: flex;
    list-style: none;
    gap: 10px;
    margin-top: 10px;
}

.member ul img{
    width: 25px;
    height: 25px;
    transition: transform 0.5s ease;
}

.member ul img:hover{
    transform: scale(1.2);
}

.member p{
    font-size: 0.8rem;
    margin-top: 10px;
}

.member-img{
    width: 200px;
    height: 200px;
    background-color: #f3f3f3;
    border-radius: 50%;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: var(--primary-color);
    color: white;
}

#footer-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 50px 50px 20px 50px;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
}

#footer-top #logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

#footer-top #logo img{
    width: 50px;
    height: 50px;
}

footer  ul li{
    list-style: none;
    margin-bottom: 10px;
}

footer ul li a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

footer ul li a:hover{
    color: var(--hover-color)
}

footer #social-media{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer #social-media li:hover{
    transform: scale(1.05);
}

footer #social-media img{
    width: 30px;
    height: 30px;
}

footer h5{
    text-align: center;
    font-weight: 500;
}