@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset CSS */

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;

}

/* General */

:root {
    --primary-color: #1B4A58;
    --secondary-color: #D8EAA9;
    --hover-color: #919e76;
}

/* NavBar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
}

nav img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li:last-child{
    display: none;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

nav a:hover {
    color: var(--hover-color);
}

/* Sidebar */

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1;
    background-color: var(--primary-color);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s ease-in-out;
}

.sidebar a {
    text-decoration: none;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgb(189, 189, 189);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

/* Articles */

main {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

#article-section {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    gap: 4%;
    margin: 40px 0;
}

/* Main article */

.blog-article.main-article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.blog-article.main-article a img {
    width: 100%;
    height: 350px;
}

.main-article .article-subcontent {
    width: 35%;
}

.main-article .post-title {
    font-size: 1.5rem;
}

/* Other articles */

.blog-article {
    width: 48%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
    color: rgb(51, 51, 51);
}

.blog-article:hover {
    transform: scale(1.03);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

.blog-article img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
    object-fit: cover;
}

.article-subcontent {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    text-align: justify;
}

.blog-article:not(:first-child) .article-subcontent {
    height: 180px;
}

/* Article content (title, editor, date, ...) */

.main-article .article-subcontent .post-editor,
.post-editor {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-editor .editor-info {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.article-subcontent .post-editor img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.post-date,
.post-subtext {
    color: rgb(95, 95, 95);
}

.post-date {
    font-size: smaller;
}

.post-date span {
    text-transform: uppercase;
    font-weight: bold;
}

.article-subcontent a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.article-subcontent a:hover {
    text-decoration: underline;
}

.editor-name {
    font-weight: 600;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: var(--primary-color);
    color: white;
}

#footer-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 50px 50px 20px 50px;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
}

#footer-top #logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

#footer-top #logo img{
    width: 50px;
    height: 50px;
}

footer  ul li{
    list-style: none;
    margin-bottom: 10px;
}

footer ul li a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

footer ul li a:hover{
    color: var(--hover-color)
}

footer #social-media{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer #social-media li:hover{
    transform: scale(1.05);
}

footer #social-media img{
    width: 30px;
    height: 30px;
}

footer h5{
    text-align: center;
    font-weight: 500;
}

/* Media queries */

@media only screen and (max-width: 700px) {
    nav ul li {
        display: none;
    }

    header nav ul li:last-child{
        display: block;
    }

    #article-section {
        width: 90%;
        flex-direction: column;
        margin: 20px 0;
        gap: 15px;
    }

    .blog-article {
        width: 100%;
    }

    .main-article .article-subcontent .post-editor,
    .post-editor {
        position: static;
    }

    .blog-article.main-article {
        flex-direction: column;
    }

    .main-article .article-subcontent {
        width: 90%;
    }

    .blog-article.main-article a img {
        width: 100%;
        height: 250px;
    }

    .blog-article:not(:first-child) .article-subcontent {
        height: auto;
    }

    #footer-top{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
    #article-section {
        width: 90%;
    }

    .post-editor {
        position: static;
    }

    .blog-article {
        margin-bottom: 0px;
    }

    .blog-article:not(:first-child) .article-subcontent {
        height: auto;
    }

    .main-article .article-subcontent {
        width: 65%;
    }

    footer {
        margin-top: 100px;
    }
}